html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  font-size: 15px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 5px 0;
}

.attribution a {
  color: #3e52a3;
}

body {
  background-image: url("../images/bg-pattern.svg");
  background-color: #fafbff;
  padding: 2em 1em 0;
  color: #858fad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 45%;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  height: 25vh;
}

header p {
  text-align: center;
  width: 60%;
}

.priceComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  text-align: center;
}

.priceComponent > section {
  padding: 1.5em 1em;
  border-radius: 6px;
  gap: 4vmin;
  background: white;
}

.priceComponent__pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: 1fr;
      grid-template: repeat(4, 1fr)/1fr;
}

.priceComponent__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.priceComponent__pageViews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3em;
  text-transform: uppercase;
}

.priceComponent__inputRange {
  width: 95%;
  margin: 0 auto;
  cursor: pointer;
}

.priceComponent__inputRange::-moz-range-track {
  -moz-appearance: none;
       appearance: none;
  background: #eaeefb;
  height: 10px;
  border-radius: 6px;
}

.priceComponent__inputRange::-moz-range-thumb {
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #10d5c2;
  border: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.priceComponent__inputRange::-moz-range-progress {
  background: #a5f3eb;
  border-radius: 6px;
  height: 10px;
}

.priceComponent__cost {
  display: inline-block;
  color: black;
}

.priceComponent__billing {
  font-size: 0.85em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
  padding: 0.5em;
}

.priceComponent__toggleContainer {
  position: relative;
  height: 2em;
  width: 3.5em;
}

.priceComponent__toggle {
  opacity: 0;
  pointer-events: none;
}

.priceComponent__toggle:checked ~ .priceComponent__customToggle {
  background: #10d5c2;
}

.priceComponent__toggle:checked ~ .priceComponent__customToggle::before {
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.priceComponent__customToggle {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #cdd7ee;
  border-radius: 1em;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.priceComponent__customToggle::before {
  content: "";
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  border-radius: 100%;
  background: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.priceComponent__discountMobile, .priceComponent__discountDesktop {
  background: #fdd8ce;
  color: #ff8c66;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-weight: 800;
}

.priceComponent__discountDesktop {
  display: none;
}

.priceComponent__discountLabel {
  display: none;
}

.priceComponent__list {
  list-style: url("../images/icon-check.svg");
  font-size: 0.85em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vmin;
  padding: 1.5em 0;
  position: relative;
}

.priceComponent__CTA {
  -ms-grid-column-align: center;
      justify-self: center;
  background: #293356;
  color: #bdccff;
  font-size: 0.9em;
  border-radius: 6em;
  padding: 0.75em 4em;
  cursor: pointer;
}

.priceComponent__CTA:hover {
  color: White;
}

@media screen and (min-width: 1440px) {
  body {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header {
    width: 100%;
    height: 100%;
    font-weight: 800;
    font-size: 1.2em;
  }
  .priceComponent {
    width: 40%;
  }
  .priceComponent__pricing {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
  .priceComponent__features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .priceComponent__pageViews {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .priceComponent__cost {
    font-size: 2rem;
  }
  .priceComponent__inputRange {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .priceComponent__billing {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .priceComponent__discountMobile {
    display: none;
  }
  .priceComponent__discountDesktop {
    display: block;
  }
  .priceComponent__list {
    text-align: left;
  }
  .attribution {
    position: absolute;
    bottom: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */