html {
  box-sizing: border-box;
  min-height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.attribution {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@import "./_mobile";
@import "./_desktop";
